body {
    font-family: Arial, sans-serif;
    background-color: #afadad;
  }

  h1 {
    text-align: center;
    color: #000000;
  }

  h2{
    text-align: center;
    background-color: #151c3d;
    color: rgb(194, 100, 63);
    padding: 10px;

  }

  .treinos-dia {
    display: none;
  }
  
  .treinos-dia.show {
    display: block;
  }

  .series-repeticoes {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #filtros {
    display: flex;
    justify-content: center;
    align-items:center;
  }
  .treino {
    width: 30%;
    margin: 10px;
    text-align: center;
    background-color: #c9743c;
    border-radius: 5px;
    padding: 10px;
    border: solid 2.5px;
    border-color: black;
    display: inline-block;
  }

  img {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: solid 3px;
    border-color: #000000;
    background-color: white;
  }

  p{
    font-weight: bold;
  }

  .info-extra {
    display: none;
  }
  .info-extra.show {
    display: block;
    color: black;
    background-color: rgb(204, 185, 149);
 }
 .botao-favoritos{
  background-color: rgb(209, 155, 133);
  border-radius: 5px;
  color:rgb(0, 0, 0);
  font-style: bold;
  padding: 5px;
  /*font-weight: bold;*/
 }
 .mostrar-mais{
  background-color: rgb(209, 155, 133);
  border-radius: 5px;
  padding: 5px;
 }
 .botao-delete{
  display: block;
  margin: 0 auto;
  background-color: rgb(209, 155, 133);
  border-radius: 5px;
  padding: 5px;
 }
 .info-extra{
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: justify;
    padding: 5px;
 }
 button:hover{
  background-color: rgb(194, 100, 63);
 }
 button:active{
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
 }

 h2 {
    cursor: pointer;
  }

  .seta::before {
    content: '▶';
    display: inline-block;
    margin-right: 5px;
    transition: transform 0.3s ease-in-out;
  }

  .seta.open::before {
    transform: rotate(90deg);
  }

  .link {
    background-color: #151c3d;
    color: rgb(194, 100, 63);
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #333;
  }
  
  .link:hover {
    background-color: #c9743c;
    color: rgb(0, 0, 0);
  }

  .links-container {
    display: flex;
    justify-content: center;
  }
  
  .link {
    margin: 0 10px;
  }