    body {
      font-family: Arial, sans-serif;
      background-color: #afadad;
    }
  
    h1 {
      text-align: center;
      color: #333;
    }
  
    #filter-section {
      display: flex;
      justify-content: center;
      align-items:center;
    }

    #filter-form {
      text-align: center;
      align-self: center;
      margin: 20px;
    }
    
    #filter-section a {
      margin: 20px;
    }

    #filter-category {
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #333;
    }
  
    #workouts {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: #151c3d;
      padding: 20px;
      border-radius: 10px;
      border: solid 2.5px;
      border-color: rgb(124, 5, 5);
    }
  
    .workout {
      width: 30%;
      margin: 20px;
      text-align: center;
      background-color: #c9743c;
      border-radius: 5px;
      padding: 20px;
      border: solid 2.5px;
      border-color: black;
    }
  
    img {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
      border-radius: 10px;
      border: solid 3px;
      border-color: #000000;
      background-color: white;
    }
  
    p{
      font-weight: bold;
    }

    .extra-info {
      display: none;
    }
    .extra-info.show {
      display: block;
      color: black;
      background-color: rgb(204, 185, 149);
   }
   .favorite-button{
    background-color: rgb(209, 155, 133);
    border-radius: 5px;
    color:rgb(0, 0, 0);
    font-style: bold;
    padding: 5px;
    /*font-weight: bold;*/
   }
   .show-more-button{
    background-color: rgb(209, 155, 133);
    border-radius: 5px;
    padding: 5px;
   }
   .extra-info{
      border: 1px solid #000000;
      border-radius: 5px;
      text-align: justify;
      padding: 5px;
   }
   button:hover{
    background-color: rgb(194, 100, 63);
   }
   button:active{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
   }