    body {
      font-family: Arial, sans-serif;
      background-color: #afadad;
    }
  
    h1 {
      text-align: center;
      color: #000000;
    }
  
    #filtros {
      display: flex;
      justify-content: center;
      align-items:center;
    }

    #form-filtro {
      text-align: center;
      align-self: center;
      margin: 20px;
    }
    
    #filtros a {
      margin: 20px;
    }

    #filtro-categoria {
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #333;
    }
  
    #treinos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: #151c3d;
      padding: 20px;
      border-radius: 10px;
      border: solid 2.5px;
      border-color: rgb(124, 5, 5);
    }
  
    .treino {
      width: 30%;
      margin: 20px;
      text-align: center;
      background-color: #c9743c;
      border-radius: 5px;
      padding: 20px;
      border: solid 2.5px;
      border-color: black;
    }
  
    img {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
      border-radius: 10px;
      border: solid 3px;
      border-color: #000000;
      background-color: white;
    }
  
    p{
      font-weight: bold;
    }

    .info-extra {
      display: none;
    }
    .info-extra.show {
      display: block;
      color: black;
      background-color: rgb(204, 185, 149);
   }
   .botao-favoritos{
    background-color: rgb(209, 155, 133);
    border-radius: 5px;
    color:rgb(0, 0, 0);
    font-style: bold;
    padding: 5px;
    /*font-weight: bold;*/
   }
   .mostrar-mais{
    background-color: rgb(209, 155, 133);
    border-radius: 5px;
    padding: 5px;
   }
   .botao-delete{
    background-color: rgb(209, 155, 133);
    border-radius: 5px;
    padding: 5px;
   }
   .info-extra{
      border: 1px solid #000000;
      border-radius: 5px;
      text-align: justify;
      padding: 5px;
   }
   button:hover{
    background-color: rgb(194, 100, 63);
    cursor: pointer;
   }
   button:active{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
   }
   .link {
    background-color: #151c3d;
    color: rgb(194, 100, 63);
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #333;
  }
  
  .link:hover {
    background-color: #c9743c;
    color: rgb(0, 0, 0);
  }

  #mostrar-favoritos {
    background-color: #151c3d;
    color: rgb(194, 100, 63);
    text-decoration: none;
    padding: 5.5px;
    border-radius: 5px;
    border: 1px solid #333;
    cursor: pointer;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  #mostrar-favoritos:hover {
    background-color: #c9743c;
    color: rgb(0, 0, 0);
  }